<div class="row">
    <div class="col-md-12">
        <h2>Departments</h2>
        <hr />
        <div class="table-repspoinsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Department Number</th>
                        <th>Department Name</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each dpt}}

                    <tr>

                        <td><a href="/employees/?department={{departmentId}}">{{departmentId}} </a></td>
                        <td><a href="/employees?department={{departmentId}}">{{departmentName}}</a></td>

                    </tr>

                    {{/each}}

                    {{#unless dpt}}
                    <div class="col-md-12 text-center">
                        <strong>{{message}}</strong>
                    </div>
                    {{/unless}}
                </tbody>
            </table>
        </div>
    </div>